{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-8 mx-auto">
        <h1>Добро пожаловать в AltaiGlobal</h1>
        <p class="lead">Система учета продаж для управления клиентами, продажами и долгами</p>
        
        <div class="alert alert-info">
            <h4>Функции системы:</h4>
            <ul>
                <li>✅ Управление клиентами</li>
                <li>📊 Учет продаж</li>
                <li>💰 Контроль платежей</li>
                <li>📈 Учет долгов</li>
            </ul>
        </div>

        <a href="/clients" class="btn btn-primary btn-lg">Начать работу</a>
    </div>
</div>
{% endblock %}